<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <custom_option_default_value>
            <general>
                <active>1</active>
            </general>
        </custom_option_default_value>
    </default>
</config>
